body
{
    background-color: #053834;
}

.outer-container {
    border: 10px solid rgb(23, 134, 110);
    width: 900px;
    height: auto;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    filter:drop-shadow(2px 4px 10px #1f8a77);
    position: relative;
}

.login-container {
    max-width: 350px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 2;
}

.text-center
{
    font-weight: lighter;
    text-align: left;
    z-index: 2;
}

.leaf
{
    margin-top: 280px;
    margin-left: -40px;
    width: 270px;
    height: auto;
    position: absolute;
}

.leaf2
{
    margin-top: 275px;
    margin-left: 600px;
    width: 270px;
    height: auto;
    position: absolute;
}

.form-control
{
    text-align: left;
}
